@charset "utf-8";
body {
  background: #D62461;
  color: #000;
  font-size: 14px;
  font-family: "Noto Sans JP", "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  line-height: 1.5;
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
}

/*スマホメニュー*/
/*============
nav
=============*/
.sp_nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  width: 300px;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
}
.open .sp_nav {
  right: 0;
  opacity: 1;
}
.sp_nav .inner {
  padding: 25px;
}
.sp_nav .inner ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sp_nav .inner ul li {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}
.sp_nav .inner ul li a {
  display: block;
  color: #333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}
.sp_nav .inner ul li a:hover {
  background: #e4e4e4;
}
@media screen and (max-width: 767px) {
  .sp_nav {
    right: -220px;
    width: 220px;
  }
}
/*============
.toggle_btn
=============*/
.toggle_area{}

.toggle_btn {
  display: block;
  position: fixed;
  top: 12px;
  right: 25px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 3;
}
.open .toggle_btn {
  right: 330px;
}
.toggle_btn span {
  display: block;
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: #000000;
  border-radius: 4px;
  transition: all .5s;
  transition: all .5s;
  border: 1px solid #FFF;
  padding: 1px;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}



.open .toggle_btn span {
  background-color: #fff;
}
.open .toggle_btn {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
.open .toggle_btn span:nth-child(1), .open .toggle_btn span:nth-child(3) {
  width: 16px;
}
.open .toggle_btn span:nth-child(1) {
  -webkit-transform: translate(2px,4px) rotate(45deg);
  transform: translate(2px,4px) rotate(45deg);
}
.open .toggle_btn span:nth-child(3) {
  -webkit-transform: translate(-2px,-4px) rotate(-45deg);
  transform: translate(2px,-4px) rotate(-45deg);
}
@media screen and (max-width: 767px) {
  .open .toggle_btn {
    right: 250px;
  }
}
/*============
#mask
=============*/
#mask {
  display: none;
  transition: all .5s;
}
.open #mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

/*//スマホメニュー*/

.header_area {
  width: 100%;
  margin: 0px auto 40px;
  box-sizing: border-box;
  border: #141414 solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  background: url('../img/sample-bg.jpg') repeat;
	background-size: 50%;
	animation: scroll-anim 20s linear infinite;
}

@keyframes scroll-anim {
	100% {
		background-position: -100% 0;
	}
}


.header_area header {
  background-color: #141414;
}
.header_box {
  max-width: 1200px;
  margin: 0px auto;
}



.header_area header .header_box .nav_box {
  float: left;
  margin: 0px 0px;
}
@media(max-width:1000px) and (min-width:769px){
  .header_area header .header_box .nav_box {
    float: left;
    margin: 0px 0px;
    width: 100%;
  }
}	


.header_area header .header_box .nav_box ul {
  display: flex;
}

.header_area header .header_box .nav_box ul li {
  padding: 15px 5px;
}

.header_area header .header_box .nav_box ul li a {
  color: #FFF;
  padding: 15px 20px;
}

.header_area header .search_box {
  float: right;
  padding: 10px 0px 10px 15px;
}

@media(max-width:1300px) and (min-width:1001px){
.header_area header .search_box {
  float: right;
  padding: 10px 70px 10px 15px;
}
}	

@media(max-width:1000px) and (min-width:768px){
  .header_area header .search_box {
    float: none;
    padding: 10px ;
    display: block;
  }
}	





.header_area header .search_box .search_container {
  position: relative;
  box-sizing: border-box;
  display: block;
  padding: 0px 15px 0px 15px;
  border-radius: 10px;
  width: 300px;
  overflow: hidden;
  background: #FFFFFF;
}
@media(max-width:1000px) and (min-width:769px){
  .header_area header .search_box .search_container  {
    width: 97%;
    margin: 0px auto;
  }
}	


.header_area header .search_box .search_container input[type="text"] {
  border: none;
  height: 2.0em;
  background: #FFFFFF;
}

.header_area header .search_box .search_container input[type="text"]:focus {
  outline: 0;
}

.header_area header .search_box .search_container input[type="submit"] {
  cursor: pointer;
  font-family: "Font Awesome 5 Free";
  font-size: 1.2em;
  border: none;
  background: none;
  color: #141414;
  position: absolute;
  height: 2.5em;
  right: 14px;
  top: -8px;
  outline: none;
  font-weight: 900;
}

.header_area header .search_box .search_container ::-webkit-input-placeholder {
  color: #141414;
}

.main_visual_area {}

.main_visual_area .main_title {
  width: 100%;
  margin: 30px auto;
  text-align: center;
}

.main_visual_area .main_title p span {
  font-size: 1em;
  padding: 0px 10px;
}

.main_visual_area .main_title h1 {
  font-size: 3em;
  font-weight: bold;
}

.main_visual_area .main_title h2 {
  font-size: 1.2em;
}

.nav_box_link {
  background-color: #141414;
  width: 100%;
}

 .nav_box_link .header_box ul {
  padding: 0px 0px;
}

 .nav_box_link .header_box ul {
  display: flex;
  justify-content: center;
}

.nav_box_link .header_box ul li {
  padding: 20px 10px 18px;
}

.nav_box_link .header_box ul li a {
  color: #FFF;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
}

.rss_topic_area {
  max-width: 1240px;
  margin: 0px auto 0px;
  padding: 0px 20px;
}

.rss_topic_area ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.rss_topic_area ul li {
  width: 19%;
  box-sizing: border-box;
  border: #141414 solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.rss_topic_area ul li a {
  height: 100%;
  display: block;
  background-color: #FFFFFF;
  color: #141414;
  transition: all 0.4s;
}

.rss_topic_area ul li a:hover {
  background-color: #333;
  color: #FFF;
}

.rss_topic_area ul li .triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 10px 10px;
  border-color: transparent transparent #141414 transparent;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.rss_topic_area ul li .topic_box {
  padding: 10px;
}

.rss_topic_area ul li .topic_box .img_box{
  height: 150px;
  overflow: hidden;
}

.rss_topic_area ul li .topic_box .img_box img {
  display: block;
  height: 150px;
  object-fit: cover;
  width: 100%;
}

.rss_topic_area ul li .topic_box p {
  margin: 5px 0px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  /*IE対策*/
  line-height: 1.5em;
  max-height: 4.5em;
}

.contents {
  max-width: 1240px;
  margin: 20px auto 20px;
  padding: 0px 20px;
}

.contents .flexbox {
  display: -webkit-flex;
  display: flex;
}

.contents .main_area {
  margin: 0 2% 0 0;
  width: 63%;
}

.contents .main_area .rss_area  {
  box-sizing: border-box;
  border: #141414 solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}


.contents .main_area .rss_area .rss_box {
  overflow:scroll;
  overflow-x: hidden;
  height: 400px;
}

.rss_area .rss_box .blogroll-channel ul li{
  font-size: 1em;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.8em;
  padding-bottom: 0.8em;
  border-bottom: 1px #CCC dashed;
}

.rss_area .rss_box .blogroll-ad-default a{
  font-size: 12px;
  color: #CCCCCC;
}


.contents .main_area .main_box {
  box-sizing: border-box;
  border: #141414 solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  ;
}



.main_area .main_box .category_title a {
  font-weight: bold;
  color: #121212;
  border-radius: 10px;
  background-color: #E5E5E5;
  padding: 10px 15px;
  float: left;
  margin-right: 20px;
}

.main_area .main_box .data {
  font-size: 1em;
  padding: 10px 15px;
}

.main_area .main_box h3 {
  font-size: 1.5em;
  color: #D62461;
  font-weight: bold;
  ;
  display: block;
  border-bottom: 2px solid #121212;
  margin: 0px 0px 20px 0px;
  padding: 0px 0px 10px 0px;
}

.main_area .main_box .first_thread {
  background-color: #141414;
  background: url(../img/dark_wood.png);
  background-repeat: repeat;
  padding: 15px 25px 15px 25px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.main_area .main_box .first_thread .thumbnail_box {
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.main_area .main_box .first_thread .thumbnail_box img {
  display: block;
  height: 300px;
  object-fit: contain;
  width: 100%;
}

.main_area .main_box .thread_box {
  position: relative;
  margin-bottom: 40px;
}

.main_area .main_box .thread_box .fade {
  position: absolute;
  z-index: 1;
  bottom: 0;
  width: 100%;
  height: 150px;
  text-align: center;
  background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(255, 255, 255, 0.95) 90%);
}

.main_area .main_box .lesson_btn {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  border-radius: 6px;
  padding: 10px;
  font-size: 14px;
  background: rgba(255, 255, 255, 1);
  left: 50%;
  bottom: -10%;
  transform: translateY(-50%) translateX(-50%);
  -webkit- transform: translateY(-50%) translateX(-50%);
  margin: auto;
  width: 75%;
  box-sizing: border-box;
  border: #141414 solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  transition: all 0.4s;
}

.main_area .main_box .lesson_btn:hover {
  color: #FFFFFF;
  background: rgba(0, 0, 0, 1);
}

.main_area .main_box .thread_box .t_h {
  font-size: 1em;
}

.main_area .main_box .thread_box .t_b {
  font-size: 1.2em;
  font-weight: bold;
}

.contents .side_area {
  width: 35%;
}

.contents .side_area .side_box {
  box-sizing: border-box;
  border: #141414 solid 2px;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.2);
  background-color: #FFFFFF;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.main_box .tag_box {
  background-color: #F6F6F6;
  padding: 10px 20px;
  border-radius: 10px;
}
.main_box .tag_box dl{
  display: flex;
}
.main_box .tag_box dl dt{
  margin: 0px;
}
.main_box .tag_box dl dd{
  padding: 0px 10px;
}
.main_box .tag_box dl dd:last-child{
  margin-left: auto;
}
.main_box .tag_box p{
}





footer{
  width: 100%;
  background-color: #121212;
}
footer .footer_area{
  max-width: 1200px;
  margin: 0px auto;
}
footer .footer_area p{
  text-align: center;
  font-size: 12px;;
  color: #FFFFFF;
  padding: 20px;
}


@media screen and (min-width: 768px) {}

@media screen and (max-width: 767px) {}


@media(max-width:480px){}
@media(max-width:768px) and (min-width:481px){}	
@media(max-width:1000px) and (min-width:769px){}	
@media(min-width:1001px){}